<launch>
      <!--- param -->
      <rosparam command="load" file="$(find ekf_loam_livox)/config/ekf_loam_parameters.yaml" /> 

      <!-- TFs -->
      <include file="$(find ekf_loam_livox)/launch/ekf_loam_tf.launch" />  

      <!--- Extração de features da nuvem de pontos com o LIO-Livox --> 
      <node pkg="lio_livox" type="ScanRegistration" name="ScanRegistration" output="screen">
            <param name="config_file" value="$(find lio_livox)/config/mid360_config.yaml"/>
            <!--0-custom msg ,1 ros sensor msg pointcloud2 msg  -->
            <param name="msg_type" type="int" value="1"/>
      </node>
      
      <!-- Odometria usando o Faster-LIO-->
      <rosparam command="load" file="$(find faster_lio)/config/mid360_test.yaml" />
	<param name="feature_extract_enable" type="bool" value="0"/>
	<param name="point_filter_num_" type="int" value="3"/>
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="0.5" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="cube_side_length" type="double" value="1000" />
	<param name="runtime_pos_log_enable" type="bool" value="1" />
      <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen" />	

      <!--Conversão das mensagens do Livox p/ CustomMsg-->
	<node pkg="livox_ros_driver2" 
            type="pointcloud_converter.py" 
            name="pointcloud_converter" 
            output="screen" /> 

      <node pkg="ekf_loam_livox" 
            type="LiDAR_IMU_Treatment"     
            name="LiDAR_IMU_Treatment"     
            output="screen">
      </node>  

      <!-- Mapeamento do EKF-LOAM --> 
      <node pkg="ekf_loam_livox" 
            type="LiDARMapping_livox"     
            name="LiDARMapping_livox"     
            output="screen">
      </node>    
</launch>
